body{
	margin: 0;
}

.content{
	margin: 0 10% 0 10%;
}

.title{

	background-color:#51f0db;

}

.nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#mcenter {
  display: flex;
  justify-content: center;
}